header {
  margin: -8px;
  background: rgb(255, 245, 245);
  background-repeat: repeat-y;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-size: x-large;
}
#main {
  display: flex;
  justify-content: center;
}
div {
  width: auto;
  margin: 60px;
  margin-top: 0;
  font-size: x-large;
}
li {
  width: 530px;
  background: aliceblue;
  padding: 25px;
  margin: 5px;
  list-style: none;
}
input:focus {
  padding: -5px;
  border-radius: none;
  border: none;
}
input {
  padding: 8px;
  border: solid antiquewhite 2px;
  margin-bottom: 8px;
  width: 180px;
  font-size: 36px;
  text-align: center;
}
button {
  border: none;
  width: 200px;
  padding: 8px;
  text-align: left;
  font-size: 36px;
  margin-bottom: 2px;
  background: none;
}
h1,
h3 {
  color: rgb(65, 65, 73);
}
