header {
  margin: -8px;
  background: rgb(255, 245, 245);
  background-repeat: repeat-y;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-size: x-large;
}
#main {
  display: flex;
  justify-content: center;
}
div {
  width: auto;
}
li {
  width: 530px;
  background: aliceblue;
  padding: 25px;
  margin: 5px;
  list-style: none;
  font-size: 150%;
}
input {
  padding: 15px;
  border: solid antiquewhite 2px;
  width: 280px;
  font-size: 36px;
  text-align: center;
  color: rgb(65, 65, 73);
}
input:focus {
  padding: -5px;
  border-radius: none;
  outline: none;
}
button {
  border: none;
  padding: 8px;
  text-align: left;
  font-size: 50px;
  margin-bottom: 2px;
  color: #282d16;
  background: #ffff39
}
h1,
h3 {
  color: rgb(65, 65, 73);
}


/* mobile view */
@media only screen and (max-width: 600px) {
  /* body {
    background-color: rgb(237, 249, 253);
  } */
  #input-div{
    display: flex;
  }
  input {
    width: 350px;
    border: none;
  }
  li {
    font-size: 18px;
    width: 400px
  }
  header {
     margin-bottom: 10px;
     font-size: large;
     text-align: center;
  }
}
