header {
  background: rgb(255, 245, 245);
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#main {
  display: flex;
  justify-content: center;
}
#input-div {
  display: flex;
}
li {
  width: 530px;
  background: aliceblue;
  padding: 25px;
  margin: 5px;
  list-style: none;
}
input {
  padding: 15px;
  border: none;
  width: 280px;
  font-size: 30px;
  color: rgb(217, 217, 217);
  background: #2f2f2f;
  border-radius: 15px 0px 0px 150px;
  text-align: center;
}
input:focus {
  padding: -15px;
  border-radius: none;
  outline: none;
}
button {
  border: none;
  text-align: left;
  font-size: 40px;
  color: #2f2f2f;
  background: #b6dae3;
  border-radius: 0px 15px 15px 0px;
}
h1,
h3 {
  color: rgb(65, 65, 73);
}
h3 {
  color: #7c6bd0;
  border-left: 10px solid #39db10b4;
}
/* #listContainer {
  margin-top: 20px;
} */
ul {
  background: #b6dae3;
}

/* mobile view */
@media only screen and (max-width: 600px) {
  body {
    margin: -1px;
  }
  #input-div{
    display: flex;
  }
  input {
    padding: 5px;
    border: none;
    font-size: 25px;
    width: 180px;
  }
  li {
    font-size: 18px;
    width: 270px
  }
  header {
     margin-bottom: 10px;
     text-align: center;
  }
  button {
    font-size: 30px;
    background-color: #d9d9d9;
  }
  input:focus {
    font-size: 20px;
  }
  body {
    margin: -8px
  }
}
